:root{
  --space-cadet: #25283dff;
}
h1{
  color: var(--space-cadet);
}
.cont{
    color: white;
    box-sizing: border-box; 
    padding: 10px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    border-bottom: 3px double plum;
    align-items: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-between; /* separa título y menú */
} 
nav{
    display:inline-flex;
    gap: 50px;
}
a{
  border: 2px solid plum;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  transition: border-color 1s;
  }
a:visited{
    color: black
}
a:hover{
  border-color: white;
}

